.header-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;

}

.header-container > p {
    font-family: 'garet',bold ;
    font-size: 3em;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #fff;
}


@media only screen and (max-width: 640px) {
    .header-container {
        width: 80%;
    }
    .header-container > p {
        font-size: 1.2em;
        line-height: 1.2em;
    }
}

@media only screen and (min-width: 411px) {
    .header-container {
        margin:2%;
    }
    .header-container > p {
        padding-left:18%;
        padding-right:12%;
        font-size: 2.8em;
        line-height: 1.2em;
        text-align: center;
    }
}
